* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #282d35;
}

nav {
   display: flex;
   align-items: center;
   background-color: #21222a;
   padding: 30px 25px;
   height: 90px;
}

nav > img {
   width: 30px;
   margin-right: 10px;
}

.nav--logotext,
.nav--title {
   margin: 0;
}

.nav--logotext {
   margin-right: auto;
   color: #61dafb;
   font-weight: 700;
   font-size: 22px;
}

.nav--title {
   color: #deebf8;
}

.nav-icon {
   height: 30px;
   margin-right: 7px;
}

main {
   position: relative;
   padding: 57px 27px;
   color: #deebf8;
}

.main--title {
   margin: 0;
   font-size: 39px;
   letter-spacing: -0.05em;
}

.main--facts {
   margin-top: 46pxs;
   max-width: 400px;
}

.main--facts > li {
   line-height: 19px;
   padding-block: 10px;
}

.main--facts > li::marker {
   color: #61dafb;
   font-size: 27px;
}

footer {
   left: 0;
   right: 0;
   bottom: 0;
   position: fixed;
   margin-bottom: 25px;
   display: flex;
   height: 10px;
   color: #deebf8;
   justify-content: center;
}

.watermark {
   right: 0;
   margin-top: 60px;
   position: absolute;
   z-index: -1;
   opacity: 10%;
   width: 300px;
}
